body {
    background-color: #1e1e2e;
    color: #cdd6f4;
    margin: 0;
    font-family: monospace;
    font-size: 3em;
    text-align: center;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

h1 {
    margin: 0;
}

a, a:visited {
    color: #b4befe;
}

.tagline {
    margin: 0 0 2em 0;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

@media (min-width: 992px) {
    body {
        font-size: 1.25em;
    }
}
